<?xml version="1.0" encoding="utf-8"?>
<module>
<name>Gate Keeper</name>
<version>102</version>
<type>user</type>
<defaultcat>Server Admin</defaultcat>
<desc>Easily view and change your XMWS API server key.</desc>
<authorname>Bobby Allen</authorname>
<authoremail>bobbyallen.uk@gmail.com</authoremail>
<authorurl>http://www.sentora.com/</authorurl>
<updateurl>http://zppy-repo.mach-hosting.com/repo/gatekeeper.xml</updateurl>
</module>